<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">info 1</li>
                <li class="list-group-item">info 2</li>
                <li class="list-group-item">info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-fluid" src="<%= campground.image%>" alt="<%= campground.name%> image">
                <div class="figure-caption p-2">
                    <h4 class="float-right text-monospace">9.00$/night</h4>
                    <h4 class="text-uppercase text-monospace"><a href="#"><%= campground.name%></a></h4>
                    <p class="text-capitalize"><%= campground.description%></p>
                    <p><em>Submitted by <%= campground.author.username %></em></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a href="/campgrounds/<%= campground._id%>/edit" class="btn btn-warning text-muted btn-sm">EDIT</a>
                        <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST" class="d-inline">
                            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="m-3 bg-light">
                <div class="float-right m-3">
                    <a href="/campgrounds/<%= campground._id%>/comments/new" class="btn btn-success">Add New Comment</a>
                </div>
                <hr>
                <div class="d-inline-flex p-2 flex-row flex-wrap">
                    <% campground.comments.forEach((comment) => {%>
                        <div class="card m-3">
                            <div class="card-body">
                                <div class="float-right">
                                    <div class="vote">
                                        ♥♥♥♥♥
                                    </div>
                                    <span class="font-weight-lighter text-muted align-middle date">
                                        10 days ago
                                    </span>
                                </div>
                                <h5 class="card-title"><%= comment.author.username%></h5>
                                <p class="card-text"><%= comment.text%></p>
                            </div>
                        </div>
                    <% });%>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>